@import '_breakpoints.scss';
// base-logo
.base-logo {
  font-size: clamp(20px , 5vw , 25px);
  margin: 0;
}
.prefix {
  font-weight: 900;
  color: var(--text-color);
  margin-right: 2px;
}
.postfix {
  font-weight: 100;
  color: var(--secondary-color);
}
// base-logo

//router links
.router-link {
  list-style: none;
  a {
    text-decoration: none;
    div {
      background: inherit;
      padding: 15px 10px;
      display: flex;
      align-items: center;
      color: var(--text-color);
      font-weight: 400;
      i {
        font-size: 30px;
        margin: 0 20px;
      }
    }
    &.router-link-active,
    &.router-link-exact-active {
      background: var(--secondary-lighten-color);
      div {
        border-right: 5px solid var(--secondary-color);
        color: var(--secondary-color);
      }
    }
  }
}
//router links

//footer
.footer {
  padding-left: clamp(200px, 30%, 350px);
  position: absolute;
  background: #303846;
  height: 120px;
  width: 100%;
  @include md {
    padding: 0;
  }
  i {
    color: rgb(183, 183, 183);
  }
}
//footer

//navbar
.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  height: 80px;
  box-shadow: 0 2px 8px var(--third-color);
  z-index: 100;
  background: var(--primary-color);
  padding: 0 15px;
  .Introduction {
    .menu-icon {
      display: none;
      color: var(--text-color);
      font-size: 35px;
      margin-right: 10px;
      @include md {
        display: block;
      }
    }
  }
}
  //navbar

  //sidebar
  .sidebar {
    position: fixed;
    left: 0;
    bottom: 0;
    width: clamp(200px, 30%, 350px);
    height: calc(100vh - 95px);
    border-right: 1px solid var(--third-color);
    background: var(--primary-color);
    @include md {
      display: none;
    }
  }
  
  //sidebar

  //clock
  .clock {
    min-height: 130px;
    font-weight: 900;
    font-size: clamp(50px, 15vw, 80px);
    color: var(--secondary-color);
    text-align: center;
    margin-top: 30px;
    background: var(--secondary-lighten-color);
    text-shadow: 0 10px 10px rgba(0, 0, 0, 0.404);
  }
  //clock

  //user info
  .username {
    font-weight: 100;
    font-size: clamp(23px, 8vw, 50px);
    color: var(--text-color);
    text-align: center;
    margin-top: 30px;
    -webkit-box-reflect: below -20% linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.244));
  }
  //user info

  //Profile
  .profile-card {
    background: var(--secondary-lighten-color);
    margin-top: 40px;
    padding: 30px 10px;
    .select-option {
      border-bottom: 1px solid rgb(186, 186, 186);
      padding: 0 10px 5px 10px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 25px;
      label{
        font-size: 16px;
      }
    }
  }
  //Profile

  //task item
  .task-item {
    list-style: none;
    padding: 20px 10px;
    margin: 3px 0;
    border-radius: 2px;
    background: var(--third-color);
    &.Complete {
      border-left: 5px solid var(--success-color);
    }
    &.Ongoing {
      border-left: 5px solid var(--secondary-color);
    }
    &.Overdue {
      border-left: 5px solid var(--error-color);
    }
    
    .a-badge-status {
      display: block;
      font-weight: 600;
    }
    .action-icons {
      .bx {
        font-size: large;
        margin: 0 1px;
        cursor: pointer;
        &.edit {
          color: var(--secondary-color);
        }
        &.delete {
          color: var(--error-color);
        }
      }
    }
  }
  //task item

  // tasks
  .tasks-container {
    padding: 20px;
    border: 1px solid var(--third-color);
    .search-bar {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
      .input {
        width: 100%;
        max-width: 260px;
      }
    }
  }
  // tasks

  // weather card
  .weather-card {
    background: var(--secondary-lighten-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
    padding: 50px 0;
    .informations {
      .w-city-name {
        font-size: 30px;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
      }
      .w-date {
        font-style: italic;
        font-weight: 200;
        text-align: center;
      }
      .w-temp {
        font-size: 4rem;
        color: var(--secondary-color);
        font-weight: 900;
        padding: 0rem 1rem;
        border-radius: 5px;
        text-shadow: 5px 0 5px rgba(0, 0, 0, 0.404);
      }
      .w-status {
        text-align: center;
        font-size: 30px;
        font-weight: 400;
        font-style: oblique;
      }
    }
  }
  // weather card